<ion-content  class="ion-padding" [fullscreen]="true">
  <ion-header>
    <ion-item color="none" lines="none">
      <ion-icon slot="end" name="close-outline" class="ion-float-end" (click)="this.close()"></ion-icon>
    </ion-item>
  </ion-header>

  <div *ngIf="type === 'video'">
    <h1 class="heading ion-text-center">Gib einen Titel an und lade ein Video hoch</h1>
    <ion-item lines="none" class="ion-item" color="none" style="margin-top: 7rem">
      <fieldset  class="input-item">
        <legend>Titel des Videos</legend>
        <ion-input [(ngModel)]="title" placeholder="Titel"></ion-input>
      </fieldset>
    </ion-item>
    <ion-row>
      <ion-col>
        <h3>Schreibe eine Beschreibung</h3>
        <ion-textarea class="input-item" [autoGrow]="true" [rows]="5" [cols]="5" [(ngModel)]="text" placeholder="Schreibe eine Beschreibung"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-button class="ion-margin-top" (click)="chooseVideo()" expand="block">Video auswählen</ion-button>
    <p class="ion-text-center ion-margin" *ngFor="let pdfName of pdfFileName">PDF: {{pdfName}}</p>
    <ion-button class="ion-margin-top" (click)="chooseFile()" expand="block">Datei auswählen</ion-button>
  </div>

  <div *ngIf="type === 'multiple_choice'">
    <h1 class="heading ion-text-center">Multiple Choice</h1>

    <ion-grid style="margin-top: 7rem">
      <ion-row>
        <ion-col>
          <h3>Stelle eine Frage</h3>
          <ion-textarea class="input-item" [autoGrow]="true" [rows]="5" [cols]="5" [(ngModel)]="title" placeholder="Stelle eine Frage"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>Füge Antworten hinzu</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let step of steps; let i = index">
        <ion-col size-xs="2">
          <ion-toggle style="margin-top: 20px" [(ngModel)]="step.isRightAnswer" [checked]="step.isRightAnswer" (ionChange)="onSetRightAnswer(i)"></ion-toggle>
        </ion-col>
        <ion-col size-xs="8">
          <fieldset  class="input-item">
            <legend>Antwort {{i + 1}}:</legend>
            <ion-input [(ngModel)]="step.question" type="text" placeholder="Antwort {{i + 1}}"></ion-input>
          </fieldset>
        </ion-col>
        <ion-col size-xs="2">
          <ion-button fill="clear" color="none">
            <ion-icon slot="icon-only" *ngIf="i !== 0" name="trash-outline" (click)="removeAnswer(i)"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" (click)="addAnswer()">Weitere Antwort hinzufügen</ion-button>
  </div>

  <div *ngIf="type === 'text'">
    <h1 class="heading ion-text-center">Gib einen Titel an</h1>
    <ion-item lines="none" class="ion-item" color="none" style="margin-top: 7rem">
      <fieldset  class="input-item">
        <legend>Titel des Textes</legend>
        <ion-input [(ngModel)]="title" placeholder="Titel"></ion-input>
      </fieldset>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Schreibe einen Text</h3>
          <ion-textarea class="input-item" [autoGrow]="true" [rows]="5" [cols]="5" [(ngModel)]="text" placeholder="Schreibe einen Text"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="type === 'add_training'">
    <h1 class="heading ion-text-center">Gib einen Titel an</h1>
    <ion-item lines="none" class="ion-item" color="none" style="margin-top: 7rem">
      <fieldset  class="input-item">
        <legend>Titel des Textes</legend>
        <ion-input [(ngModel)]="title" placeholder="Titel"></ion-input>
      </fieldset>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Gib eine Beschreibung an</h3>
          <ion-textarea class="input-item" [autoGrow]="true" [rows]="5" [cols]="5" [(ngModel)]="text" placeholder="Schreibe einen Text"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-button *ngIf="videoUrl && type === 'video'" class="ion-margin-top" (click)="uploadVideo()" expand="block">Video hochladen</ion-button>
  <ion-button *ngIf="type === 'multiple_choice'" class="ion-margin-top" expand="block" (click)="createMultipleChoice()">Multiple Choice erstellen</ion-button>
  <ion-button *ngIf="(type === 'text' || type === 'add_training') && title && text" class="ion-margin-top" expand="block" (click)="createText()">Text erstellen</ion-button>
</ion-footer>
