<ion-tabs #adminTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="requests">
      <ion-icon name="add-outline"></ion-icon>
      Anfragen
    </ion-tab-button>
    <ion-tab-button tab="members">
      <ion-icon name="people-outline"></ion-icon>
      Teilnehmer
    </ion-tab-button>
    <ion-tab-button tab="steps">
      <ion-icon name="albums-outline"></ion-icon>
      Schritte
    </ion-tab-button>
    <ion-tab-button tab="menue">
      <ion-icon name="menu-outline"></ion-icon>
      Menü
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
