<ion-content [fullscreen]="true">
  <div class="container ion-padding">
    <h1 class="heading ion-text-center">Der erste Schritt ist getan, du hast dich registriert!</h1>
    <p class="para ion-text-center" style="margin-top: 10rem; padding-left: 0">
      Die Nutzung der Applikation ist nur durch Zustimmung des Administrators möglich. <br>
      Der Administrator wurde informiert und wird dich gegebenenfalls freischalten. <br>
      Bitte gedulde dich bis dahin. Du erhältst eine Benachrichtigung sobald du freigeschaltet wurdest.
    </p>
  </div>
</ion-content>
